body {
  text-align: center;
  font-family: sans-serif;
}

#myFigure {
  color: white;
  width: 600px;
  height: 400px;
  border: thin solid black;
  margin: 0 auto;
  background: #57142c;
}

.start-button {
  margin-top: 150px;
}

.pacman {
  height: 200px;
  margin-top: 100px;
}

.mark {
  height: 50px;
}

.false-start {
  margin-top: 150px;
}

.average {
  position: absolute;
  margin-top: -235px;
  margin-left: 30px;
  text-align: left;
  white-space: pre-line;
}
